<form [formGroup] = "msgform" (ngSubmit) = "sendData()"> <!--  השליטה של הטופס היא ע"י האלמנט הזה+מילה שמורה בתוך סוגריים מרובעים!-->
<div>
  <label for="message"></label>
  <input type="text" name= "message" id= "message" class="form-control" formControlName = "message" placeholder="Please enter message" > <!-- המקבילה בקוד של ה  היא msgform!-->

</div>

<div>
  <label for="user"></label>
  <input type="text" name= "user" id= "user" class="form-control" formControlName = "user" placeholder="Please enter user id"> <!-- המקבילה בקוד של ה  היא msgform!-->

</div>

<input type="submit" value= "Send the message" class= "btn-primary">


</form>
