<!--The content below is only a placeholder and can be replaced.-->

<navigation></navigation>
<!-- לא רוצים יותר שהמסג'ס יהיו הארד קודד ונרצה לקבל אותם מהראוט
    <div >

<messages></messages>

</div>

-->

<router-outlet></router-outlet> <!--הנקודה שבה הקומפוננט יושתל בראוט -->