
<h2>Message number {{message?.id}}</h2> <!--> הצגה של משתנה בסוגריים מסולסלים כפולים<!-->
<div>
  message body : {{message?.body}} <!--> ברגע שהקומפוננט נטען הנתונים עדיין לא הגיעו מהשרת ולכן אנחנו מוסיפים את הסימן שאלה שאומר לאנגולר לחכות עד שהנתונים יגיעו מהשרת<!-->
</div>
<div>
  User ID : {{message?.user_id}} 
</div>