<messagesForm (addMessage) = "optimisticAdd($event)" (addMessagePs) = "pessimisticAdd()"></messagesForm> <!--> האזנה לאירוע</!-->
<h2>
  List of messages
</h2>

<ul class= "list-group">
<li class="list-group-item"  *ngFor = "let key of messagesKeys" >
  
  <button class= "btn btn-outline-primary" (click)="deleteMessage(key)"  >Delete</button> <!--> הוספת כפתור והאזנה לאירוע</!-->
  <a [routerLink] = "['/message',key]" >{{'message number '+key+' :'+messages[key].body}}</a> <!--> נהפוך כל מסג' לקישור </!-->
</li><!--> *ngFor is a directive for a loop to go over the messages (array) data. each li will present data from the array</!-->
</ul>